<!DOCTYPE html>
<html>

<head>
    <title> Octonius platform - collaborate on a project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="IE=7, IE=9" http-equiv="X-UA-Compatible">
    <meta content="width=device-width" name="viewport">
    <!-- Adding Font Library -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Adding Font Library -->
    <style type="text/css">
        body {
            font: 16px/30px 'Nunito', sans-serif;
            min-width: 400px;
            margin: 0;
            padding: 75px 0 0 0;
            text-align: center;
        }

        h1 {
            font-weight: normal;
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 10px;
            padding: 0;
            margin-top: 0;
        }

        p {
            padding: 0 0 10px 0;
            color: #666666;
            font-family: 'Nunito', sans-serif;
        }

        .btn {
            color: #ffffff !important;
            padding: 10px;
            background: #005fd5;
            border-radius: 8px;
        }

        textarea {
            font: 12px/18px 'Nunito', sans-serif;
        }

        .header {
            padding-bottom: 15px;
            text-align: center
        }

        .header span {
            font-size: 22px;
            text-align: center
        }

        .wrapper {
            width: 540px;
            margin: 0 auto 80px auto;
            text-align: left;
        }

        .container {
            position: relative;
            margin: 0;
            text-align: left;
            background-color: #ffffff;
            background: rgba(255, 255, 255, .9);
            padding: 60px;
            line-height: 150%;
            border-bottom: 1px solid #ececec;
        }

        .clear {
            clear: both;
        }

      

        /* apply a natural box layout model to all elements */
        *,
        *:before,
        *:after {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        @media only screen and (max-width:64em) {
            body {
                padding-top: 30px;
                min-width: 100%;
            }

            .wrapper {
                width: 96%
            }

            .container {
                padding: 30px 15px
            }
        }

        @media only screen and (max-width:40em) {
            body {
                background-image: none !important;
            }

            .email-group input {
                float: none;
                width: 100%;
                margin: 0 0 12px 0;
                min-width: inherit;
            }

            .email-group .button {
                width: 100%;
            }
        }
        .card {
                /* border color */
                border: 1px solid #E4EDF8;
                box-sizing: border-box;
                border-radius: 10px;
                box-shadow: 0 3px 0 #005fd521 !important;
            }

            .card-img-top{
                border-radius: 10px 10px 0 0;
                width: 100%;
            }
            
    </style>
    <!--[if IE]>
                <style type="text/css">
                .tl-tab-content h1 { background:url(http://gallery.mailchimp.com/7f1f3a0cca670414e2146e475/images/tinyletter_sprite.png) 0 15px no-repeat; }
                .tl-tab-content h1 a { background:url(http://gallery.mailchimp.com/7f1f3a0cca670414e2146e475/images/tinyletter_sprite.png) no-repeat -148px 0 transparent; }
                </style>
            <![endif]-->
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="header">
                <h1 class="title"> <img src="https://www.octonius.com/wp-content/uploads/2020/10/octonius-icon.png"
                    alt="user avatar" style="width: 42px; height: 42px; border-radius: 24px" /> <br> 👋 Hi!
            </h1>
                <span class="byline"> <%= fromName %> invited you to join<br> <span style="color:#005df5"><%= workspace %></span> workplace! </span>
            </div>
            <div class="description">
                <p style="text-align: left">
                   <strong> It's really easy:</strong> <br><br>
                    1. click the link bellow to signup. <br>
                    2. In the next screen, click the <strong>JOIN ANOTHER WORKPLACE</strong> and enter the workplace name <strong style="color:#005fd5"><%= workspace %></strong> and access code <strong style="color:#005fd5"><%= accessCode %></strong> in the form.
                </p>
               
                <div class="task-button" style="margin-top: 30px; text-align: center;">
                    <a href="<%= link %>" class="btn">
                        SIGN UP
                    </a>
                </div>
                <p style="text-align: center">
                    <img src="https://www.octonius.com/wp-content/uploads/2020/12/undraw_Gift_box_re_vau4.png" alt="user avatar" style="width: 150px;" />
                </p>
                <p style="text-align: center">
                    Team Octonius
                </p>
            </div>
        </div>
        <p style="text-align:center">
            <img src="https://www.octonius.com/wp-content/uploads/2020/10/octonius-icon.png" alt="Octonius logo"
            style="width:30px; margin: 2px;  vertical-align: bottom"> <span style="color:#2b2b2b">Octonius</span>
        <br>
            <span style="font-size: 10px; text-align:center"> Octonius, Inc. |
                950 Page Mill Road
                Palo Alto, CA 94304 USA
            </span>
        </p>
    </div>
</body>

</html>